// Features

.home-features-wrapper {
  margin: 0;
  padding: 20px;
  h4 {
    font-size: 24px;
    font-weight: 400;
    font-family: "Roboto";
    color: $protectoris-midgray;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: $protectoris-midgray;
  }
}

// Pack

.pack-wrapper {
  background-image: image-url("pack-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 120vh;
}

.pack-text {
  padding-top: 60px;
  padding-left: 250px;
  padding-right: 250px;
  h2 {
    font-family: "Roboto";
    margin-bottom: 40px;
    color: $protectoris-darkblue;
  }
  p {
    font-size: 16px;
    color: $protectoris-midgray;
  }
}
