// Features

.home-features-wrapper {
  margin: 0;
  padding: 20px;
  h4 {
    font-size: 24px;
    font-weight: 400;
    font-family: "Roboto";
    color: $protectoris-midgray;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: $protectoris-midgray;
  }
}

// Pack

.pack-wrapper {
  background-image: image-url("pack-home.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}
