@media only screen and (min-width: 769px) {

  // 1. BANNER

  .home-banner-wrapper {
    background-image: linear-gradient(-225deg, rgba(177, 181, 192, 0.3) 0%, rgba(177, 181, 192,0.2) 50%), image-url("home-banner-2.png");
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
    height: 85vh;
    width: 100%;

    // Position Scroll
    position: relative;
  }

  .home-banner-rectangle {

    background-color: rgba(255, 255, 255, 0.7);


    // Position Rectangle
    height: 50%;
    width: 40%;
    margin-top: 70px;
    margin-left: 100px;
    display: inline-block;

    .home-banner-text {

      // Position Text
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;

    }

    h3 {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 40px;
      color: $protectoris-darkblue;

      // Position h3
      margin: 0;

    }
    p {
      font-weight: 400;
      font-size: 16px;
      color: $protectoris-midgray;

      // Position p
      margin: 0;
      margin-top: 30px;

    }
  }

  .home-banner-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
    cursor: pointer;
    h6 {
      color: white;
      margin-bottom: 10px;
    }
  }

  .scroll-icon {
    width: 35px;
  }


  // 2. FEATURES

  .home-features-wrapper {
    margin: 0;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 70px;
    h4 {
      font-size: 24px;
      font-weight: 400;
      font-family: "Roboto";
      color: $protectoris-midgray;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      color: $protectoris-midgray;
    }
  }

  // 3. PACK INTRO

  .pack-wrapper {
    background-color: white;
    background-image: image-url("protectoris-all-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
  }

  .pack-text {
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-blue;
    }
    p {
      font-size: 16px;
      color: $protectoris-midgray;
    }
  }

  // 4. PRODUCTS

  .product-wrapper {
    background-color: white;
  }

  .centrale-container {
    background-image: image-url("protectoris-centrale-main.png");
    background-size: cover;
    background-position: right;
    height: 85vh;
    display: flex;
    align-items: center;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-darkblue;
    }
    p {
      font-size: 16px;
      color: $protectoris-midgray;
    }
  }

  .centrale-text {
    padding-left: 150px;
    width: 40%;
    vertical-align: center;
  }

  .detecteur-container {
    background-image: image-url("protectoris-detecteurs-main.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .detecteur-text {
    width: 400px;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-darkblue;
    }
    p {
      font-size: 16px;
      color: $protectoris-midgray;
    }
  }

  .sirene-container {
    background-image: image-url("protectoris-domotique-main.png");
    background-size: cover;
    background-position: right;
    height: 90vh;
    display: flex;
    align-items: center;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-darkblue;
    }
    p {
      font-size: 16px;
      color: $protectoris-midgray;
    }
  }

  .sirene-text {
    padding-left: 150px;
    width: 45%;
    vertical-align: center;
  }

  .mobile-container {
    background-image: image-url("protectoris-mobile-banner.png");
    background-size: cover;
    background-position: center;
    height: 90vh;
    //position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-darkblue;
    }
    p {
      font-size: 16px;
      color: $protectoris-midgray;
    }
  }

  .mobile-text {
    //position: absolute;
    //top: 120px;
    margin-right: 100px;
    width: 400px;
    vertical-align: center;
  }


  // 5. REVIEW

  .review-banner {
    background-image: linear-gradient(-225deg, rgba(177, 181, 192, 0.3) 0%, rgba(177, 181, 192,0.2) 50%), image-url("review-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

    a {
      color: black;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }

  }

  .review-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;

    h4 {
      margin-bottom: 10px;
    }
    h5 {
      font-family: "Roboto", "Helvetica", "Open Sans";
      margin-bottom: 5px;
      margin-top: 15px;
    }
    h6 {
      font-family: "Roboto", "Helvetica", "Open Sans";
      font-size: 10px;
      font-weight: 300;
      margin: 0;
    }
    p {
      font-weight: 300;
      font-size: 15px;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
  }

  // Price

  .price-container {
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 60px;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-blue;
    }
    p {
      font-size: 16px;
      color: $protectoris-midgray;
      width: 600px;
      display: inline-block;
    }
  }

  .price-card {
    margin-top: 30px;
    background-color: $protectoris-lightgray;
    padding: 20px;
    h1 {
      color: red;
      font-size: 80px;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

      strong {
        text-decoration: line-through;
        color: white;
        font-size: 60px
      }
    }
    h3 {
      color: red;
    }
    h4 {
      color: white;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    h5 {
      margin-top: 0;
      color: white;
      font-size: 15px;
      font-weight: 300;
      font-family: "Roboto";
    }
  }

  .apartment-card {
    background-image: linear-gradient(-225deg, rgba(177, 181, 192, 0.6) 0%, rgba(177, 181, 192,0.7) 50%), image-url("apartment-card.jpg");
    background-size: cover;
    background-position: center;
  }

  .house-card {
    background-image: linear-gradient(-225deg, rgba(177, 181, 192, 0.6) 0%, rgba(177, 181, 192,0.7) 50%), image-url("house-card.jpg");
    background-size: cover;
    background-position: center;
  }



  // MOBILE DIVS REMOVED

  .home-banner-scroll-mobile {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .pack-mobile {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .mobile {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

}









// MOBILE SIZE

@media only screen and (max-width: 768px) {


  // 1. BANNER

  .home-banner-wrapper {

    background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.3) 50%), image-url("home-banner-2.png");
    background-size: cover;
    background-position: center right;
    margin-top: 140px;
    height: 60vh;
    width: 100%;

    // Position Text
    display: flex;
    justify-content: center;
    align-items: center;

    // Position Scroll
    position: relative;

  }

  .home-banner-rectangle {

    .home-banner-text {

      // Position Text
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;

      height: 100%;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;

    }

    h3 {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 25px;
      color: white;

      // Position h3
      margin: 0;

    }
    p {
      font-weight: 300;
      font-size: 16px;
      color: white;
      color: rgb(255, 255, 255);
      opacity: 0.8;

      // Position p
      margin: 0;
      margin-top: 30px;

    }
  }

  .home-banner-scroll-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // width: 100%;
    background-color: white;

    h6 {
      color: $protectoris-darkblue;
      margin-bottom: 10px;
    }
  }

  .scroll-icon {
    width: 25px;
    margin-bottom: 10px;
  }


  // 2. FEATURES

  .home-features-wrapper {
    margin: 0;
    padding: 20px;
    h4 {
      font-size: 18px;
      font-weight: 400;
      font-family: "Roboto";
      color: $protectoris-midgray;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      color: $protectoris-midgray;
    }
  }

  // 3. PACK INTRO

  .pack-wrapper-mobile {
    background-color: white;
    background-image: image-url("protectoris-all-banner.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;
    margin-bottom: 20px;
  }

  .pack-text-mobile {
    background-color: white;
    padding: 20px;
    h2 {
      font-family: "Roboto";
      color: $protectoris-blue;
      font-size: 25px;
      margin-bottom: 0;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: $protectoris-midgray;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  // 4. PRODUCTS

  .product-wrapper {
    background-color: white;
  }

  .centrale-container-mobile {
    background-image: image-url("protectoris-centrale-main-mobile.png");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 35vh;
    margin-top: 30px;
  }

  .mobile {
    padding-top: 50px;
    h2 {
      font-family: "Roboto";
      font-size: 25px;
      color: $protectoris-darkblue;
      padding: 20px;
    }
    p {
      padding: 20px;
      font-size: 16px;
      font-weight: 400;
      color: $protectoris-midgray;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
    }
  }

  .centrale-text-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centrale-link-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .detecteur-container-mobile {
    background-image: image-url("protectoris-detecteurs-main-mobile.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    margin-top: 30px;
  }

  .domotique-container-mobile {
    background-image: image-url("protectoris-domotique-main-mobile.png");
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    height: 35vh;
    margin-top: 30px;
  }

  .sirene-text {
    padding-left: 150px;
    width: 45%;
    vertical-align: center;
  }

  .mobile-container-mobile {
    background-image: image-url("protectoris-mobile-banner-main.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
  }

  .mobile-text {
    //position: absolute;
    //top: 120px;
    margin-right: 100px;
    width: 400px;
    vertical-align: center;
  }


  // 5. REVIEW

  .review-banner {
    background-color: $protectoris-darkblue;
    // background-image: linear-gradient(-225deg, rgba(177, 181, 192, 0.3) 0%, rgba(177, 181, 192,0.2) 50%), image-url("review-banner.jpg");
    // background-size: cover;
    // background-position: center;
    // height: 80vh;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: black;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }

  }

  .review-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px 20px;

    h4 {
      margin-bottom: 10px;
    }
    h5 {
      font-family: "Roboto", "Helvetica", "Open Sans";
      margin-bottom: 5px;
      margin-top: 15px;
    }
    h6 {
      font-family: "Roboto", "Helvetica", "Open Sans";
      font-size: 10px;
      font-weight: 300;
      margin: 0;
    }
    p {
      font-weight: 300;
      font-size: 15px;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
  }

  // Price

  .price-container {
    padding-top: 40px;
    padding-bottom: 60px;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-blue;
    }
    p {
      font-size: 16px;
      color: $protectoris-midgray;
      width: 600px;
      display: inline-block;
    }
  }

  .price-card {
    margin-top: 30px;
    background-color: $protectoris-lightgray;
    padding: 20px;
    h1 {
      color: red;
      font-size: 80px;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

      strong {
        text-decoration: line-through;
        color: white;
        font-size: 60px
      }
    }
    h3 {
      color: red;
    }
    h4 {
      color: white;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    h5 {
      margin-top: 0;
      color: white;
      font-size: 15px;
      font-weight: 300;
      font-family: "Roboto";
    }
  }

  .apartment-card {
    background-image: linear-gradient(-225deg, rgba(177, 181, 192, 0.6) 0%, rgba(177, 181, 192,0.7) 50%), image-url("apartment-card.jpg");
    background-size: cover;
    background-position: center;
  }

  .house-card {
    background-image: linear-gradient(-225deg, rgba(177, 181, 192, 0.6) 0%, rgba(177, 181, 192,0.7) 50%), image-url("house-card.jpg");
    background-size: cover;
    background-position: center;
  }


  // DESKTOP DIVS REMOVED

  .home-banner-scroll {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .pack-wrapper {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .centrale-container {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .detecteur-container {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .sirene-container {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .mobile-container {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

}


