@media only screen and (min-width: 769px) {

.pad-bot {
  padding-bottom: 30px;
}

.offer-banner {
  margin-top: 230px;
  height: 70vh;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.4) 50%), image-url("offer-banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    font-size: 36px;
    font-weight: 400;
    font-family: "Roboto";
    color: white;
    margin-bottom: 60px;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    color: white;
    width: 70%;
    display: inline-block;
  }
}

.packs-offer {
  margin-top: 100px;
  height: 100vh;
  color: $protectoris-darkblue;
  p {
    z-index: 1;
  }
}

// Packs

.flat-offer-1 {
  background-image: image-url("test-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: white;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.flat-description {
  margin-right: 40px;
  width: 30%;
  h2 {
    font-family: "Roboto";
    margin-bottom: 40px;
    color: $protectoris-darkblue;
  }
  h6 {
    font-family: "Roboto";
    font-weight: 300;
    color: $protectoris-midgray;
  }
}

.home-offer-1 {
  background-image: image-url("pack-maison-1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-offer-2 {
  background-image: image-url("pack-maison-2.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-description {
  margin-left: 70px;
  width: 30%;
  h2 {
    font-family: "Roboto";
    margin-bottom: 40px;
    color: $protectoris-darkblue;
  }
  h6 {
    font-family: "Roboto";
    font-weight: 300;
    color: $protectoris-midgray;
  }
}

// Packs

.flat-description-2 {
  margin-left: 70px;
  width: 30%;
  h2 {
    font-family: "Roboto";
    margin-bottom: 40px;
    color: $protectoris-darkblue;
  }
  h6 {
    font-family: "Roboto";
    font-weight: 300;
    color: $protectoris-midgray;
  }
}

.flat-banner-1 {
  background-image: image-url("Protectoris_Pack-appart-1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 55vh;
  margin-left: 50px;
  margin-right: 50px;
}

.flat-banner-2 {
  background-image: image-url("Protectoris_Pack-appart-2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 55vh;
  margin-left: 50px;
  margin-right: 50px;
}

.pack-offer-left {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 100px;

  h2 {
    margin-top: 0;
  }
}

.pack-offer-right {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 100px;

  h2 {
    margin-top: 0;
  }
}



h5 {
  font-family: "Roboto";
  font-weight: 300;
  color: $protectoris-midgray;
  font-weight: 500;

  strong {
    text-decoration: line-through;
  }

}

em {
  color: red;
  font-style: normal;
}



.home-banner-1 {
  background-image: image-url("Protectoris_Pack-Maison-1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 55vh;
  margin-left: 50px;
  margin-right: 50px;
}

.pack-description-right {
  margin-right: 70px;
  width: 30%;
  h2 {
    font-family: "Roboto";
    margin-bottom: 40px;
    color: $protectoris-darkblue;
  }
  h6 {
    font-family: "Roboto";
    font-weight: 300;
    color: $protectoris-midgray;
  }
}

.home-banner-2 {
  background-image: image-url("Protectoris_Pack-Maison-2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 55vh;
  margin-left: 50px;
  margin-right: 50px;
}

.home-banner-3 {
  background-image: image-url("Protectoris_Pack-Maison-3.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 55vh;
  margin-left: 50px;
  margin-right: 50px;
}


// Intermediate

.question-offer {
  background-color: $light-gray;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    width: 60%;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: "Roboto";
    color: $protectoris-darkblue;
  }
  p {
    width: 60%;
  }
}


// Accessories

// .accessories-offer {
//   background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), image-url("accessories-banner.png");
//   background-position: right bottom;
//   background-size: 100%;
//   background-repeat: no-repeat;
//   height: 80vh;
//   width: 100%;
// }

.detecteur-offer {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.detecteur-offer-banner {
  background-color: white;
}

.detecteur-offer-title {
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-bottom: 40px;
}

#line {
  width: 100px;
  margin-top: 15px;
  border-bottom: 4px solid $protectoris-blue;
}

.detecteur-offer-footer {
  background-color: white;
  display: block;
}

  .centrale-offer {
    padding-top: 90px;
    background-color: white;

  }

  .centrale-offer-title {
    h1 {
      margin: 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 50px;
  }

  .centrale-offer-banner {
    p {
      font-size: 14px;
      font-weight: 300;

      margin-bottom: 30px;
    }

    h3 {
      font-size: 30px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centrale-offer-description {
    margin-right: 50px;
  }

  .big-product-image {
    height: 600px;
  }

  .product-image-spegarage {
    height: 400px;
    padding: 50px;
  }

  .product-image-pad30 {
    height: 400px;
    padding: 30px;
  }

  .accessories-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
  }


  // MOBILE CLASSES REMOVED

  .mobile-offer {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .offer-banner-mobile {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

}




// MOBILE SIZE

@media only screen and (max-width: 768px) {

  .offer-banner-mobile {
    height: 70vh;
    background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.7) 50%), image-url("offer-banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 255px;
    h3 {
      font-size: 25px;
      font-weight: 400;
      font-family: "Roboto";
      color: white;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      color: white;
      width: 70%;
      display: inline-block;
    }
  }

  .packs-offer {
    margin-top: 100px;
    height: 100vh;
    color: $protectoris-darkblue;
    p {
      z-index: 1;
    }
  }

  // Packs

  .mobile-offer {
    background-color: white;
    padding-bottom: 30px;
  }

  .flat-banner-1-mobile {
    background-image: image-url("Protectoris_Pack-appart-1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    margin-left: 15px;
    margin-right: 15px;
  }

  .flat-description-mobile {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 25px;
      font-weight: 500;
      font-family: "Roboto";
      color: $protectoris-darkblue;
      margin: 0;
      text-align: center;
      margin-top: 30px;
    }
    h6 {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      color: $protectoris-midgray;
      font-family: "Roboto";
      margin: 10px;
    }
  }

  .flat-banner-2-mobile {
    background-image: image-url("Protectoris_Pack-appart-2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    margin-left: 15px;
    margin-right: 15px;
  }

  .flat-description {
    margin-right: 40px;
    width: 30%;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-darkblue;
    }
    h6 {
      font-family: "Roboto";
      font-weight: 300;
      color: $protectoris-midgray;
    }
  }

  .home-banner-1-mobile {
    background-image: image-url("Protectoris_Pack-Maison-1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    margin-left: 15px;
    margin-right: 15px;
  }

  .home-banner-2-mobile {
    background-image: image-url("Protectoris_Pack-Maison-2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    margin-left: 15px;
    margin-right: 15px;
  }

  .home-banner-3-mobile {
    background-image: image-url("Protectoris_Pack-Maison-3.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    margin-left: 15px;
    margin-right: 15px;
  }

  .home-description {
    margin-left: 70px;
    width: 30%;
    h2 {
      font-family: "Roboto";
      margin-bottom: 40px;
      color: $protectoris-darkblue;
    }
    h6 {
      font-family: "Roboto";
      font-weight: 300;
      color: $protectoris-midgray;
    }
  }

  .pad-bot {
    margin-bottom: 30px;
  }

  // Intermediate

  .question-offer {
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    h2 {
      margin-bottom: 30px;
      font-weight: 500;
      font-family: "Roboto";
      color: $protectoris-darkblue;
      font-size: 25px;
    }
    p {
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 400;
      color: $protectoris-midgray;
    }
  }


  // Accessories

  .centrale-offer {
    background-color: white;

    padding-top: 50px;
  }

  .centrale-offer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;

    h1 {
      font-size: 25px;
    }
  }

  .centrale-offer-banner {
    p {
      font-size: 16px;
      font-weight: 300;

      text-align: left;

      margin-bottom: 30px;
      padding: 20px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .centrale-offer-description {
    text-align: center;
    padding: 15px;
  }

  .big-product-image {
    height: 65vh;
  }

  .product-image-spegarage {
    height: 400px;
    padding: 50px;
  }

  .product-image-pad30 {
    height: 400px;
    padding: 30px;
  }

  .accessories-section {
    padding-bottom: 50px;
    background-color: white;
  }

  .detecteur-offer {
    background-color: white;
  }

  .detecteur-offer-banner {
    background-color: white;
  }

  .detecteur-offer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    h1 {
      font-size: 25px;
    }
  }

  #line {
    width: 100px;
    margin-top: 15px;
    border-bottom: 4px solid $protectoris-blue;
  }

  .detecteur-offer-footer {
    background-color: white;
  }

  // DESKTOP CLASS REMOVED

  .flat-offer-1 {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .flat-offer-2 {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .home-offer-1 {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .home-offer-2 {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .offer-banner {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .pack-offer-left {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }

  .pack-offer-right {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    display: none;
  }
}

