<div class="footer">
  <div class="upper-footer">
    <div class="footer-company">
      <%= image_tag ("logo-protectoris.png"), id: "logo-footer" %>
      <p>Protectoris est conçu en collaboration avec une équipe d’experts en conception électronique haute technologie. Forte de leurs expériences, les deux équipes d’experts (<%= link_to "alarme-camera.fr", about_path %> et Greysoft) ont conçu un système moderne facile à installer et prendre en main. </p>
    </div>
    <div class="footer-contacts">
      <h4>Où nous trouver ?</h4>
      <p>
        3 rue Poirier de Narçay <br>75014 Paris <br>France
        <br><strong>01.45.43.09.90</strong>
        <br><a href="mailto:info@protectoris.fr?subject=Demande de renseignements">info@protectoris.fr</a>
      </p>
    </div>
  </div>
  <div class="lower-footer">
    <div class="footer-copyrights">
      Thanou © 2018. <br>All Rights Reserved. <br>Terms of Use and Privacy Policy.
    </div>
  </div>
</div>
