<div class="footer">
  <div class="upper-footer">
    <div class="footer-company">
      <%= image_tag ("logo-protectoris.png"), id: "logo-footer" %>
      <p>Protectoris est un système de sécurité sans fil conçu par l'équipe d'expert de alarme-camera.fr, experte dans les matériels de sécurité depuis 1992. Forte de cette expérience, l'équipe a pu créer un système moderne facile à installer et prendre en main. </p>
    </div>
    <div class="footer-contacts">
      <h4>Où nous trouver ?</h4>
      <p>
        3 rue Poirier de Narçay <br>75014 Paris <br>France
        <br><strong>01.45.43.09.90</strong>
        <br>info@protectoris.fr
      </p>
    </div>
  </div>
  <div class="lower-footer">
    <div class="footer-copyrights">
      Thanou © 2018. <br>All Rights Reserved. <br>Terms of Use and Privacy Policy.
    </div>
  </div>
</div>
