<div class="about-wrapper">
  <div class="about-title">
    <div class="about-image text-center">
      <h1>Protectoris a été conçu par des experts en sécurité depuis 2003 en prenant compte des difficultés d’utilisation et des faiblesses des systèmes existants.</h1>
    </div>
  </div>

  <div class="about-description text-center">
    <p>
      Depuis 1992, chez <a href="https://www.alarme-camera.fr/">alarme-camera.fr</a> (société TS3V), nous avons installé des milliers de systèmes d’alarme et servi des milliers d’utilisateurs. Notre société compte plus de 3 000 clients aujourd'hui (particuliers, commerçants, sociétés, installateurs, organismes d'Etat). Grâce à cette expérience, nous avons décidé de concevoir nous-même la première version de notre propre système d’alarme Protectoris en 2015. Grâce à cette forte demande, nous avons pu investir dans la recherche pour concevoir la 2e génération de Protectoris. Cette 2e génération bénéficie des composants de nouvelle technologie qui en fait le système le plus performant, le plus simple à installer et utiliser du marché.
    </p>
  </div>
</div>
