<div class="about-wrapper">
  <div class="about-title">
    <div class="about-image text-center">
      <h1>Protectoris a été conçu par alarme-camera.fr, expert dans le conseil en matériel de sécurité depuis 2003.</h1>
    </div>
  </div>

  <div class="about-description text-center">
    <p>
      Chez <a href="https://www.alarme-camera.fr/">alarme-camera.fr</a> (société TS3V), nous pensons qu'il est indispensable de garder une présence physique pour fournir le meilleur service à nos clients. Vous pouvez vous rendre dans notre showroom situé au 3 rue Poirier de Narçay, 75014, Paris. Nous vous ferons une étude gratuite de votre projet d'installation de notre système Protectoris avec une démonstration de notre matériel.
      <br>
      <br>
      Notre société compte plus de 3 000 clients aujourd'hui (particuliers, commerçants, sociétés, installateurs, organismes d'Etat). Grâce à cette expertise, nous avons décidé de concevoir nous-même le système de sécurité le plus performant et simple à installer du marché.
    </p>
  </div>
</div>
