<div class="comparison-wrapper">
  <div class="comparison-banner">
    <div class="comparison-title text-center">
      <h1>Il est important de comprendre les autres produits sur le marché pour faire le bon choix.</h1>
      <p>Nous avons comparé pour vous ici les autres systèmes d'alarme similaires sur le marché avec notre système Protectoris. Notre comparaison se base sur les fonctionnalités et les prix de chaque système.</p>
    </div>
  </div>

  <div class="comparison-table text-center">

    <div class="comparison-note">
      <h6>Cliquez sur le modèle de votre choix pour comparer.</h6>
    </div>

    <article>

        <ul>
          <li class="protectoris-cell active">
            <button>Protectoris</button>
          </li>
          <li class="other-cell">
            <button>Somfy Home Alarm</button>
          </li>
          <li class="other-cell">
            <button>Paradox MG-6250</button>
          </li>
          <li class="other-cell">
            <button>Somfy Protexiom Ultimate</button>
          </li>
          <li class="other-cell">
            <button>Visonic Powermaster 30</button>
          </li>
        </ul>


      <table>
        <thead>
          <tr>
            <th class="hide"></th>
            <th class="protectoris-cell active">Protectoris</th>
            <th class="other-cell">Somfy <br> Home Alarm</th>
            <th class="other-cell">Paradox <br> MG-6250</th>
            <th class="other-cell">Somfy <br> Protexiom Ultimate</th>
            <th class="other-cell">Visonic <br> Powermaster 30</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6" class="sep">Fiche technique</td>
          </tr>
          <tr>
            <td>Zones sans fil</td>
            <td><span>32</span></td>
            <td style="display: none;"><span>50</span></td>
            <td style="display: none;"><span>64</span></td>
            <td style="display: none;"><span>40</span></td>
            <td style="display: none;"><span>64</span></td>
          </tr>
          <tr>
            <td>Zones filaires</td>
            <td><span>8</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>2</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>1</span></td>
          </tr>
          <tr>
            <td>Fréquence de transmission détecteur vers centrale</td>
            <td><span>868 Mhz</span></td>
            <td style="display: none;"><span>433 Mhz</span></td>
            <td style="display: none;"><span>868 Mhz</span></td>
            <td style="display: none;"><span>433 Mhz</span></td>
            <td style="display: none;"><span>868 Mhz</span></td>
          </tr>
          <tr>
            <td>Transmetteur vocal (appel vocal annonçant l'alerte)</td>
            <td><span>Intégré en GSM</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Intégré par ligne fixe</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Intégré par ligne fixe</span></td>
          </tr>
          <tr>
            <td>Transmetteur GSM-SMS</td>
            <td><span>Intégré</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Option (99€)</span></td>
            <td style="display: none;"><span>Intégré</span></td>
            <td style="display: none;"><span>Option (119€)</span></td>
          </tr>
          <tr>
            <td>Lecteur de badge</td>
            <td><span>Intégré</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Option clavier (140€)</span></td>
            <td style="display: none;"><span>Option clavier (89€)</span></td>
          </tr>
          <tr>
            <td>Interface IP (Internet)</td>
            <td><span>Wifi ou Ethernet</span></td>
            <td style="display: none;"><span>Wifi</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Ethernet filaire</span></td>
            <td style="display: none;"><span>Option (149€) ethernet</span></td>
          </tr>
          <tr>
            <td>Notification directe (Push)</td>
            <td><span>Oui, gratuit</span></td>
            <td style="display: none;"><span>Oui</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Non</span></td>
          </tr>
          <tr>
            <td>Fonction domotique sans fil</td>
            <td><span>Oui, sans fil</span></td>
            <td style="display: none;"><span>Oui, sans fil</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Oui, sans fil</span></td>
            <td style="display: none;"><span>Oui, X10</span></td>
          </tr>
          <tr>
            <td>Autonomie de la batterie interne (GSM et IP)</td>
            <td><span>6 heures</span></td>
            <td style="display: none;"><span>6 heures</span></td>
            <td style="display: none;"><span>8 heures</span></td>
            <td style="display: none;"><span>GSM: 3 mois / Centrale: 4 ans / IP: 0 heure</span></td>
            <td style="display: none;"><span>8 heures</span></td>
          </tr>
          <tr>
            <td>Garantie</td>
            <td><span>2 ans</span></td>
            <td style="display: none;"><span>2 ans</span></td>
            <td style="display: none;"><span>2 ans</span></td>
            <td style="display: none;"><span>5 ans</span></td>
            <td style="display: none;"><span>2 ans</span></td>
          </tr>
          <tr>
            <td>Application pour iPhone ou Android</td>
            <td><span>Oui</span></td>
            <td style="display: none;"><span>Oui</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Oui</span></td>
            <td style="display: none;"><span>Oui</span></td>
          </tr>
          <tr>
            <td class="prix">Pack de base (Centrale GSM, IP, 1 Détecteur d'ouverture, 1 Détecteur de mouvement et 1 Télécommande)</td>
            <td class="prix"><span>299€</span></td>
            <td class="prix" style="display: none;"><span>299€</span></td>
            <td class="prix" style="display: none;"><span>428€</span></td>
            <td class="prix" style="display: none;"><span>739€</span></td>
            <td class="prix" style="display: none;"><span>784€</span></td>
          </tr>
          <tr>
            <td colspan="6" class="sep">Compatibilité</td>
          </tr>
          <tr>
            <td>Compatible Volets Somfy RTS</td>
            <td><span>Oui, Option RTS (120€)</span></td>
            <td style="display: none;"><span>Oui, Option Tahoma (290€)</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Oui</span></td>
            <td style="display: none;"><span>Non</span></td>
          </tr>
          <tr>
            <td>Compatible Volets Somfy IO</td>
            <td><span>Oui, Option Tahoma+ (340€)</span></td>
            <td style="display: none;"><span>Oui, Option Tahoma (290€)</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Oui, Option Tahoma++ (450€)</span></td>
            <td style="display: none;"><span>Non</span></td>
          </tr>
          <tr>
            <td>Compatible Volets Bubendorff</td>
            <td><span>Oui, Option (150€)</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Non</span></td>
          </tr>
          <tr>
            <td colspan="6" class="sep">Prix et disponibilité des accessoires (constatés en Juin 2018 sur les boutiques en ligne)</td>
          </tr>
          <tr>
            <td>Détecteur d'ouverture</td>
            <td><span>25€</span></td>
            <td style="display: none;"><span>50€</span></td>
            <td style="display: none;"><span>49€</span></td>
            <td style="display: none;"><span>80€</span></td>
            <td style="display: none;"><span>45€</span></td>
          </tr>
          <tr>
            <td>Détecteur de mouvement</td>
            <td><span>35€</span></td>
            <td style="display: none;"><span>70€</span></td>
            <td style="display: none;"><span>52€</span></td>
            <td style="display: none;"><span>120€</span></td>
            <td style="display: none;"><span>65€</span></td>
          </tr>
          <tr>
            <td>Télécommande 4 boutons</td>
            <td><span>19€</span></td>
            <td style="display: none;"><span>30€</span></td>
            <td style="display: none;"><span>29€</span></td>
            <td style="display: none;"><span>80€</span></td>
            <td style="display: none;"><span>38€</span></td>
          </tr>
          <tr>
            <td>Détecteur extérieur</td>
            <td><span>Oui</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Oui</span></td>
            <td style="display: none;"><span>Oui</span></td>
            <td style="display: none;"><span>Oui</span></td>
          </tr>
          <tr>
            <td>Nouvelle barrière 2 x 12 m Optex BXS-R</td>
            <td><span>190€</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>157€</span></td>
            <td style="display: none;"><span>300€ (ancien BX-80)</span></td>
            <td style="display: none;"><span>249€</span></td>
          </tr>
          <tr>
            <td>Nouveau détecteur 90° Optex VXS-RAM</td>
            <td><span>190€</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>198€</span></td>
            <td style="display: none;"><span>300€ (ancien VXI)</span></td>
            <td style="display: none;"><span>249€</span></td>
          </tr>
          <tr>
            <td>Détecteur spécial Balcon Optex FTN</td>
            <td><span>190€</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>240€</span></td>
            <td style="display: none;"><span>Non</span></td>
            <td style="display: none;"><span>Non</span></td>
          </tr>
        </tbody>
      </table>
    </article>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
