<div class="comparison-wrapper">
  <div class="comparison-title text-center">
    <h1>Il est important de comprendre les autres produits sur le marché pour faire le bon choix.</h1>
    <p>Nous avons comparé pour vous ici les autres systèmes d'alarme similaires sur le marché avec notre système Protectoris. Notre comparaison se base sur les fonctionnalités et les prix de chaque système.</p>
  </div>

  <div class="comparison-table">
    <article>
      <ul>
        <li class="protectoris-cell active">
          <button>Protectoris</button>
        </li>
        <li class="other-cell">
          <button>Somfy <br> Home Protect</button>
        </li>
        <li class="other-cell">
          <button>Paradox <br> MG-6250</button>
        </li>
        <li class="other-cell">
          <button>Somfy <br> Protexiom Ultimate</button>
        </li>
        <li class="other-cell">
          <button>Visonic <br> Powermaster 30</button>
        </li>
      </ul>

      <table>
        <thead>
          <tr>
            <th class="hide"></th>
            <th class="protectoris-cell">Protectoris</th>
            <th class="other-cell">Somfy <br> Home Protect</th>
            <th class="other-cell">Paradox <br> MG-6250</th>
            <th class="other-cell">Somfy <br> Protexiom Ultimate</th>
            <th class="other-cell">Visonic <br> Powermaster 30</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6" class="sep">Fiche technique</td>
          </tr>
          <tr>
            <td>Zones sans fil</td>
            <td><span>32</span></td>
            <td><span>40</span></td>
            <td><span>40</span></td>
            <td><span>40</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td>Zones filaires</td>
            <td><span>8</span></td>
            <td><span>Non</span></td>
            <td><span>2</span></td>
            <td><span>Non</span></td>
            <td><span>1</span></td>
          </tr>
          <tr>
            <td>Fréquence de transmission détecteur vers centrale</td>
            <td><span>868 Mhz</span></td>
            <td><span>433 Mhz</span></td>
            <td><span>868 Mhz</span></td>
            <td><span>433 Mhz</span></td>
            <td><span>868 Mhz</span></td>
          </tr>
          <tr>
            <td>Transmetteur vocal (appel vocal annonçant l'alerte)</td>
            <td><span>Intégré en GSM</span></td>
            <td><span>Non</span></td>
            <td><span>Intégré par ligne fixe</span></td>
            <td><span>Non</span></td>
            <td><span>Intégré par ligne fixe</span></td>
          </tr>
        </tbody>
      </table>
    </article>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
