
<div class="packs-offer">
  <% @packs.each do |p| %>
    <p><%= p.description %></p>
  <% end %>
  <% @products.each do |p| %>
    <p><%= p.name %></p>
    <% p.product_descriptions.each do |d| %>
      <%= d.description %> <br>
    <% end %>
  <% end %>
</div>

