@media only screen and (min-width: 769px) {

  .product-image {
    height: 400px;
  }

}

@media only screen and (max-width: 768px) {

  .product-image {
    height: 400px;
  }

  .product-image-clavier {
    height: 300px;
    margin: 30px;
  }

}
