.comparison-table {

  box-sizing: border-box;
  padding: 0px;
  outline: 0;

  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;


  article {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  ul {
    display: flex;
    top: 0;
    z-index: 10;
    padding-bottom: 14px;
    padding: 0;
    width: 100%;

  }
  li {
    list-style: none;

  }
  li:last-child {
    border-right: 1px solid #DDD;
  }

  button {

    border: 1px solid #DDD;
    border-right: 0;
    border-top: 0;
    padding: 5px;
    background: #FFF;
    font-size: 12px;
    font-weight: 500;
    height: 75px;
    color: #999;
  }

  li.protectoris-cell.active button {
    background: $protectoris-blue;
    color: white;
  }

  li.other-cell.active button {
    background: $protectoris-lightgray;
    color: white;
  }


  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  th {
    background: #F5F5F5;
    display: none;
  }
  td, th {
    height: 53px;
    border: 1px solid #DDD;
    padding: 10px;
    empty-cells: show;
    text-align: left;
    background: white;
    font-weight: 300;
    font-size: 12px;
  }

  td+th, th+th {
    text-align: center;
    display: none;
  }
  td.default {
    display: table-cell;
  }

  .protectoris-cell {
    border-top: 3px solid $protectoris-blue;
    font-weight: 500;
    font-size: 15px;
    background: $protectoris-blue;
    color: white;
  }
  .other-cell {
    border-top: 3px solid $protectoris-lightgray;
    font-weight: 500;
    font-size: 15px;
  }

  .sep {
    background: $protectoris-lightgray;
    font-weight: 500;
  }

  .prix {
    background: $protectoris-blue;
    font-weight: 500;
    color: white;
  }

  .txt-l {
    font-size: 28px;
    font-weight: bold;
  }
  .txt-top {
    position: relative;
    top: -9px;
    left: -2px;
  }
  .hide {
    border: 0;
    background: none;
  }

  @media (min-width: 1023px) {
    ul {
      display: none;
    }
    td, th {
      display: table-cell !important;
    }
    td, th {
      width: 330px;
    }
    td+th, th+th {
      width: auto;
    }
  }

}

